.acheive{
    display: flex;
    flex-direction: column;
}

.acheive1{
    display: flex;
}

.ach-photo{
    display: flex;
    flex: 1;
    background: var(--bg-color);
}

.ach-photo img{
    height: 50%;
    width: 50%;
}