.acheive{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.acheive1{
    display: flex;
    gap: 1rem;
}

.ach-photo{
    display: flex;
    height: 40rem;
    justify-content: center;
    align-items: center;
    border-radius:10px 0 0 10px;
    flex: 1;
    background: var(--bg-color);
}

.ach-photo img{
    height: 100%;
    width: 70%;
}

.ach-text{
    display: flex;
    padding: 0 30px;
    border-radius:0 10px 10px 0;

    flex: 1;
    background: var(--acscent-color);
}

.ach-text h1{
    font-family: font;
    color: var(--text-color1);
    font-size: 100px;
}