@font-face {
  font-family: font;
  src: url('./assets/Lemon-Regular.ttf');
}

:root{
  --text-color: #D8BCAB;
  --text-color1: #dfb093;
  --bg-color: #AD031E;
  --acscent-color: #020758;
}

@keyframes enlarge {
  0%{
      transform: scale(1);
  }
  50%{
      transform: scale(1.5);
  }
  100%{
      transform: scale(1);
      
  }
}


@keyframes glitter {
  0%{
      transform: translateY(0);
  
  }
  100%{
      transform: translateY(29rem);
      visibility: hidden;
  }
}

@keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

@keyframes dance {
    0%{
		transform: translate(0px);
    }
	20%{
		transform: translateX(-1rem);
	}
	50%{
		transform: translateY(-1rem);
	}
	70%{
		transform: translateY(1rem);
	}
	90%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}


@keyframes Dance {
  0%{
  transform: translate(0px);
  }
20%{
  transform: translateX(-1rem);
}
50%{
  transform: translateY(-1rem);
}
70%{
  transform: translateY(1rem);
}
90%{
  transform: scale(1.1);
}
100%{
  transform: scale(1);
}
}